@import 'variables';

@mixin hover-transform-scale($scale: 1.05, $box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)) {
    transition: transform $transicion-suave, box-shadow $transicion-suave;
    &:hover {
      transform: scale($scale);
      box-shadow: $box-shadow;
    }
  } 