
$color-primario: rgb(153, 194, 162);
$color-secundario: rgb(122, 145, 141);
$color-resalte: rgb(219, 254, 184);
$color-texto: #333;
$color-hover: #007bff;

$familia-fuente-primaria: "Kanit", sans-serif;
$peso-negrita: bold;
$peso-extra-negrita: 900;
$tamano-grande: 3rem;
$tamano-medio: 2.5rem;
$tamano-pequeno: 18px;
$transicion-suave: 0.3s ease;




